	<!DOCTYPE html>
	<html>
	<head>
	
		<style>
		h1 {
	    border-bottom: 3px solid #cc9900;
	    color: #996600;
	    font-size: 30px;
	}
	table, th , td  {
	    border: 1px solid grey;
	    border-collapse: collapse;
	    padding: 5px;
	}
	table tr:nth-child(odd)	{
	    background-color: #f1f1f1;
	}
	table tr:nth-child(even) {
	    background-color: #ffffff;
	}
	.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
    margin-top:209px;
}
	</style>


		<title> profile  </title>
		<link rel="stylesheet" href="..\css\bootstrap.css">
		<link rel="stylesheet" href="..\css\bootstrap.min.css">
		<link rel="stylesheet" href="..\css\bootstrap-responsive.css">
		<link rel="stylesheet" href="..\css\bootstrap-responsive.min.css">
	</head>
		<body ng-app = "MyApp">
			<div class="container" data-ng-controller="MainController">

	<h1> Displaying Project Information Of Team</h1>
				 <div class="form-group">
    <label class="control-label col-sm-3">First Name:</label>
    <div class="col-sm-3">
      <input type="input" class="form-control" ng-model="fname" placeholder="Enter First Name">
    </div>
  </div>
  	 <div class="form-group">
    <label class="control-label col-sm-3">Last Name:</label>
    <div class="col-sm-3">
      <input type="input" class="form-control" ng-model="lname" placeholder="Enter Last Name">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-3">Project:</label>
    <div class="col-sm-3">
      <input type="input" class="form-control" ng-model="prjct" placeholder="Enter Project">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-3">Skype Id:</label>
    <div class="col-sm-3">
      <input type="input" class="form-control" ng-model="skypeid" placeholder="Enter Skype id">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-3">PhoneNo:</label>
    <div class="col-sm-3">
      <input type="input" class="form-control" ng-model="phoneno" placeholder="Enter Phone No">
    </div>
    </div>
   <div class="form-group">
    <label class="control-label col-sm-3"> </label>
    <div class="col-sm-5">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-3">From Date:</label>
    <div class="col-sm-3">
      <input type="date" class="form-control" ng-model="fromDate"  value="{{ date | date: 'yyyy/MM/dd' }}" >
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-3">To Date:</label>
    <div class="col-sm-3">
      <input type="date" class="form-control" ng-model="toDate"   value="{{ date | date: 'yyyy/MM/dd' }}">
    </div>
  </div>

	 <div class="form-group">
	 	<label class="control-label col-sm-3">Experience:</label>
	 	<div class="col-sm-3">
    <select class="form-control" ng-model="experienceSelected"  
	     data-ng-options="blisterPackTemplate for blisterPackTemplate in experience">
	    <option value="">Experience</option>
	</select>
</div>
  </div>

   <div class="form-group">
   	<div class="col-sm-6">
	 <button ng-click="submitForm()">Add Row</button>
	</div>
	 	<div class="col-sm-6">
	  <button ng-click="removeRow()">Delete Selected Rows</button>
	</div>
	</div>
	
						<link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
				<div class="form-group">		
		   <div class="gridStyle" ng-grid="gridOptions" ></div>	
		</div>

				
	 
       
		<script type="text/javascript" src="../scripts/lib/jquery.min.js"></script>
		<script type="text/javascript" src="../scripts/lib/angular.min.js"></script>

		<script type="text/javascript" src="../scripts/lib/angular-cookies.min.js"></script>
		<script type="text/javascript" src="../scripts/lib/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="../scripts/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
		<script type="text/javascript" src="../scripts/lib/ngyn-select2.js"></script>

 <script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>

       
		
		

			
		<script src = "..\js\add.js"></script>
			
		</body>
	</html>




