

<!DOCTYPE html>

<html>

<head>

	<title> simple table </title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	

	

	<!-- /*<style type="text/css">

	table {

			border: 1px solid red;   

			 width: 100%;

		}

		th {

			background: #f8f8f8; 

			font-weight: bold;    

				padding: 2px;

		}

	</style>*/ -->

</head>

	<body ng-app>

		<div class="container" data-ng-controller="tableCtrl">

		<p>if you click on delete then entire row will be deleted</p>

			<div class="text-right" style="padding:10px">

						<input type="text" placeholder="Search" ng-model="searchtext"><span  class=" glyphicon glyphicon-search"></span> 

				</div>

			<table class="table table-bordered">

				<tr>

							<th>Serial No </th>

						

							<th> Name</th>

							<th>Role</th>

							 <th>Description</th>

							 	<th>status</th>

					</tr>

				  <tr ng-repeat="person in names | filter : searchtext">

							<td>{{person.SerialNo}}</td>

							<td>{{person.Name}}</td>

							<td>{{person.Role}}</td>

							<td>{{person.Description}}</td>

							<td><span  ng-click="remove($index)">delete</span></td>

					</tr>

		</table>

	<!-- 		<button class="btn btn-danger" ng-click="remove()">Remove </button>   -->

				<div class="btn-group" role="group" >

						 <button type="button" class="btn btn-default" <a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></button>

					<button type="button" class="btn btn-default">1</button>

					<button type="button" class="btn btn-default">2</button>

					<button type="button" class="btn btn-default">3</button>

					<button type="button" class="btn btn-default">4</button>

					<button type="button" class="btn btn-default">5</button>

					 <button type="button" class="btn btn-default" <a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></button>

			</div> 

		</div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

	<script type="text/javascript"> 

			function tableCtrl($scope){

				$scope.names=[{

							"SerialNo":"1",

							"Name":"siri",

							"Role":"manager",

							"Description":"manager"

						},{

							"SerialNo":"2",

							"Name":"murali",

							"Role":"architect",

							"Description":"architect"

						},{

							"SerialNo":"3",

							"Name":"sunel",

							"Role":"UIdeveloper",

							"Description":"UIdeveloper"

						},{

							"SerialNo":"4",

							"Name":"vinod",

							"Role":"technology_java",

							"Description":"backend"

						},{

							"SerialNo":"5",

							"Name":"sai",

							"Role":"UIdeveloper&backend",

							"Description":"bothbackendAndFrontend"

						},{

							"SerialNo":"6",

							"Name":"bujji",

							"Role":"UIdeveloper",

							"Description":"Frontend"

						},{

							"SerialNo":"7",

							"Name":"pujitha",

							"Role":"UIdeveloper",

							"Description":"Frontend"

						},{

							"SerialNo":"8",

							"Name":"govardhan",

							"Role":"UIdeveloper",

							"Description":"Frontend"

						}];

				

		$scope.remove = function(index){

$scope.names.splice(index, 1);



		};

	};

	</script>

	</body>

</html>